
#board {
  border: 2px solid black;
  border-collapse: collapse;
}

.row {
  margin: 5vh 0 0 5% !important;
}

.cell {
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  text-align: center;
}

.cell:hover{
  background-color: royalblue;
}

.error {
  color: red;
}

#your_emoji {
  margin-left: 2%;
  margin-bottom: 0.8%;
}

#note {
  font-size: 10px;
  margin-left: 2%;
}
