{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<script type="text/javascript">
var socket = io.connect(`http://${document.domain}:${location.port}`);
$(document).ready(() => {
function emojiUnicode (emoji) {
  var comp;
  if (emoji.length === 1) {comp = emoji.charCodeAt(0);}
  comp = ((emoji.charCodeAt(0) - 0xD800) * 0x400
        + (emoji.charCodeAt(1) - 0xDC00) + 0x10000);
  if (comp < 0) {comp = emoji.charCodeAt(0);}
  return `&#x${comp.toString("16")};`
};

socket.on('connect', function(msg)
{
  console.log('joined, emitting player_joined_game')
  socket.emit('player_joined_game',
  {
    'player_id': Cookies.get('session_id'),
    'emoji': emojiUnicode(Cookies.get('emoji')),
    'game_id': {{ id }}
  })
})

function update_game(game)
{
  var board = game.board
  for (var key in board){
    var parsed_key = key.substring(1, key.length-1).split(',')
    var row = parsed_key[0]
    var col = parsed_key[1]
    $(`[row=${row}][col=${col}]`).empty()
    $(`[row=${row}][col=${col}]`).append(board[key])
  }
  $('#round').text(`Round ${game.round}`)
}

socket.on('update_game', function(msg)
{
  console.log(`recived update_game`)
  var game = JSON.parse(msg);
  console.log(`recived update_game with ${game}`)
  console.log(game)
  update_game(game)
})

$('.cell').click(function()
{
  var row = $(this).attr('row')
  var col = $(this).attr('col')
  console.log(`clicked row: ${row}, col: ${col}`)
  console.log('emitting pressed_cell');
  socket.emit('pressed_cell',
  {
    'game_id': {{ id }},
    'row': `${row}`,
    'col': `${col}`,
    'player_id': Cookies.get('session_id')
  })
})

})
</script>

<table id=ui class=table-striped>
  <tr>
    <td>Game {{ id }}</td>
  </tr>
  <tr>
    <td id='round'>Round ?</td>
  </tr>
  <tr>
    <td id='player'></td>
  </tr>
  <tr>
    <td id='players_list'></td>
  </tr>
</table>

<table id=board>
  {% for row in range( rows ) %}
    <tr>
      {% for col in range( cols ) %}
        <td class='cell' row={{row}} col={{col}}></td>
      {% endfor %}
    </tr>
  {%endfor %}
</table>

{% endblock %}
