{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<script type="text/javascript">
var socket = io.connect(`http://${document.domain}:${location.port}`);
$(document).ready(() => {
function emojiUnicode (emoji) {
  var comp;
  if (emoji.length === 1) {comp = emoji.charCodeAt(0);}
  comp = ((emoji.charCodeAt(0) - 0xD800) * 0x400
        + (emoji.charCodeAt(1) - 0xDC00) + 0x10000);
  if (comp < 0) {comp = emoji.charCodeAt(0);}
  return `&#x${comp.toString("16")};`
};

socket.on('connect', function(msg)
{
  console.log('joined, emitting player_joined_game')
  socket.emit('player_joined_game',
  {
    'player_id': Cookies.get('session_id'),
    'emoji': emojiUnicode(Cookies.get('emoji')),
    'game_id': {{ id }}
  })
})

function update_game(game)
{
  console.log('brrrrrrrrrrrr');
  console.log(game)
}

socket.on('update_game', function(msg)
{
  console.log(`recived update_game`)
  var game = JSON.parse(msg)['game'];
  console.log(`recived update_game with ${game}`)
  update_game(game)
})

$('.cell').click(function()
{
  var row = $(this).attr('row')
  var col = $(this).attr('col')
  console.log(`row: ${row}, col: ${col}`)
  socket.emit('pressed_cell',
  {
    'game_id': {{ id }},
    'row': `${row}`,
    'col': `${col}`,
    'player_id': Cookies.get('session_id')
  })
})

socket.on('pressed_cell', function(msg)
{
  if(msg['game_id'] == {{ id }})
  {
    $(`[row=${msg['row']}][col=${msg['col']}]`)
    .replaceWith(`<td class=\'cell_css\'>${msg['sign']}</td>`)

    $('#curr_player').empty()
    $('#curr_player').append(`Current player: ${msg['next_sign']}`)

    $('#curr_round').empty()
    $('#curr_round').append(`Round: ${msg['round']}`)
  }
})

})
</script>

<table id=ui class=table-striped>
  <tr>
    <td>Game {{ id }}</td>
  </tr>
  <tr>
    <td id='curr_round'></td>
  </tr>
  <tr>
    <td id='curr_player'></td>
  </tr>
  <tr>
    <td id='players'></td>
  </tr>
</table>

<table id=board>
  {% for row in range( rows ) %}
    <tr>
      {% for col in range( cols ) %}
        <td class='cell_css' row={{row}} col={{col}}></td>
      {% endfor %}
    </tr>
  {%endfor %}
</table>

{% endblock %}
