{% extends 'base.html' %}

{% block head %}
<title>PicPacPoe</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1>PicPacPoe</h1>

  {% if games|length < 1 %}
  <h4>Nothin'<h4>
  {% else %}

  <table>
    <tr>
      <th>Game Size</th>
      <td>Goal</td>
      <th>Players</th>
      <th>Round</th>
      <th>Actions</th>
    </tr>

    {% for game in games %}
    <tr>
      <td>{{ game.rows }}x{{ game.cols }}</td>
      <td>{{ game.goal }}</td>
      <td>{{ game.players }}</td>
      <td>{{ game.round }}</td>
      <td>
        {% if game.winner == ' ' %}
          <a href="/game/{{ game.id }}">JOIN</a>
        {% else %}
          <a href="/game/{{ game.id }}">RESULT</a>
          <br>
          <a href="/delete/{{ game.id }}">Delete</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>

  {% endif %}

  <br>
  <form action="/" method="POST">
    <table class="new-game-input">
      <tr>
        <td>Rows</td>
        <td>Columns</td>
        <td>Goal</td>
        <td>Players</td>
      </tr>
      <tr>
        <td><input type="text" name="rows" id="rows"></td>
        <td><input type="text" name="cols" id="cols"></td>
        <td><input type="text" name="goal" id="goal"></td>
        <td><input type="text" name="players" id="players"></td>
        <td><input type="submit" value="Add"></td>
      </tr>
    </table>

  </form>
</div>
{% endblock %}
