{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}

<script type="text/javascript">
$(document).ready(() => {

function emojiUnicode (emoji) {
  var comp;
  if (emoji.length === 1) {comp = emoji.charCodeAt(0);}
  comp = ((emoji.charCodeAt(0) - 0xD800) * 0x400
        + (emoji.charCodeAt(1) - 0xDC00) + 0x10000);
  if (comp < 0) {comp = emoji.charCodeAt(0);}
  return `&#x${comp.toString("16")};`
};

var socket = io.connect(`https://${document.domain}:${location.port}`);

socket.on('connect', function(msg)
{
  socket.emit('player_joined_menu', {})
  console.log('sent player_joined_menu')
})

function update_menu(games)
{
  $(".menu_game_row").remove();
  games.forEach((game) =>
  {
    $('.table').append(
      `<tr class='menu_game_row'>
        <td>${game.rows} X ${game.cols}</td>
        <td>${game.goal}</td>
        <td>${game.players_joined}/${game.players_count} : ${game.emojis}</td>
        <td>${game.state.replaceAll("_", " ").replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())))}</td>
        <td>
          <a href="/game/${game['id']}" class="btn btn-success">Join</a>
          <a game-id=${game['id']} class="btn btn-danger button-remove">Remove</a>
        </td>
      </tr>`)
  })
  $('.button-remove').click(function()
  {
    console.log(`clicked button-remove`)
    socket.emit('deleted_game',
    {
      'id':  $(this).attr('game-id')
    })
    console.log(`sent deleted_game with id:${$(this).attr('game-id')}`);
  })
}

socket.on('update_menu', function(msg)
{
  console.log(`recived update_menu`)
  var games = JSON.parse(msg)['games'];
  console.log(games);
  update_menu(games)
})

$('#button-create').click(function()
{
  console.log('clicked button-create')
  socket.emit('created_game',
  {
    'rows':     $("#rows").val(),
    'cols':     $("#cols").val(),
    'goal':     $("#goal").val(),
    'players_count':  $("#players_count").val()
  })
})

$('#button-set-emoji').click(function()
{
  console.log('setting new emoji')
  Cookies.set('emoji', $("#emoji").val())
  Cookies.set('emoji-unicode', emojiUnicode($("#emoji").val()))
  $('#your_emoji').html(`Your current emoji: ${Cookies.get('emoji-unicode')}`)
  $("#emoji").val("")
})

if(Cookies.get('session_id') == undefined)
  Cookies.set('session_id', `${parseInt(Math.random()*100000000)}`)
$('#your_emoji').html(`Your current emoji: ${Cookies.get('emoji-unicode')}`)

})
</script>
<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1>PicPacPoe🐍</h1>
    </div>
    <table class="table table-striped">
      <tr>
        <th scope="col">Size</th>
        <th scope="col">Goal</th>
        <th scope="col">Players</th>
        <th scope="col">State</th>
        <th scope="col">Options</th>
      </tr>
      <tr class="menu_game_row">
        <th><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></th>
        <th><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></th>
        <th><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></th>
        <th><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></th>
        <th><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></th>
      </tr>
    </table>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="rows" placeholder="Rows">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="cols" placeholder="Columns">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="goal" placeholder="Goal">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="players_count" placeholder="Players">
      </div>
      <div class="col-auto">
        <input type='submit' id="button-create" class="btn btn-primary mb-2"></input>
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes list-group list-group-flush">
        {% for category, message in messages %}
          <li class="{{ category }} list-group-item">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <div id='your_emoji'></div>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="emoji" placeholder="Set your custom emoji">
      </div>
      <div class="col-auto">
        <input type='submit' id="button-set-emoji" class="btn btn-primary mb-2"></input>
      </div>
    </div>
  </div>
</div>
{% endblock %}
