{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}

<script type="text/javascript">
  $(document).ready(() => {
    var socket = io.connect(`http://${document.domain}:${location.port}`);

    $('#button-create').click(function() {
      console.log(Cookies.get('kuki'));
      socket.emit('created_game', {
        'rows':     $("#rows").val(),
        'cols':     $("#cols").val(),
        'goal':     $("#goal").val(),
        'players_count':  $("#players_count").val()
      })
    })

    socket.on('game_create_success', function(msg) {
      $('.table').append(
        `<tr id='table_row_${msg['id']}'>
          <td>${msg['rows']} x ${msg['cols']}</td>
          <td>${msg['goal']}</td>
          <td>${msg['players_count']}</td>
          <td>0</td>
          <td>
            <a href="/game/${msg['id']}" class="btn btn-success">
              Join
            </a>
            <a game-id=${msg['id']} class="btn btn-danger button-remove">
              Remove
            </a>
          </td>
        </tr>`)
        $('.button-remove').click(function() {
          socket.emit('deleted_game', {
            'id':  $(this).attr('game-id')
          })
        })
    })

    $('.button-remove').click(function() {
      socket.emit('deleted_game', {
        'id':  $(this).attr('game-id')
      })
    })

    socket.on('game_delete_success', function(msg) {
      $(`#table_row_${msg['id']}`).remove()
    })

    if(Cookies.get('session_id') == undefined)
      Cookies.set('session_id', `${parseInt(Math.random()*100000000)}`)

    $('#button-set-emoji').click(function() {
      Cookies.set('emoji', $("#emoji").val())
    })

  })
</script>

<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1>PicPacPoe 🐍 &#x1F923;</h1>
    </div>
    <table class="table table-striped">
      <tr>
        <th scope="col">Size</th>
        <th scope="col">Goal</th>
        <th scope="col">Players</th>
        <th scope="col">Round</th>
        <th scope="col">Options</th>
      </tr>
      {% for game in games %}
      <tr id='table_row_{{ game.id }}'>
        <td>{{ game.rows }} x {{ game.cols }}</td>
        <td>{{ game.goal }}</td>
        <td>{{ game.players_count }}</td>
        <td>{{ game.get_state() }}</td>
        <td>
          <a href="/game/{{ game.id }}" class="btn btn-success">
            Join
          </a>
          <a game-id={{ game.id }} class="btn btn-danger button-remove">
            Remove
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="rows" placeholder="Rows">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="cols" placeholder="Columns">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="goal" placeholder="Goal">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="players_count" placeholder="Players">
      </div>
      <div class="col-auto">
        <input type='submit' id="button-create" class="btn btn-primary mb-2"></input>
      </div>
    </div>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="emoji" placeholder="Set your custom emoji">
      </div>
      <div class="col-auto">
        <input type='submit' id="button-set-emoji" class="btn btn-primary mb-2"></input>
      </div>
    </div>

  </div>
</div>
{% endblock %}
